## Запрет просмотра папок
Options All -Indexes
RewriteEngine on
## Запрещаем вообще всё кроме index.php
RewriteCond %{REQUEST_URI} !^/index.php$ 
## Перенаправление запросов на index.php
RewriteRule ^(.*)$ /index.php?path=$1 [NC,L,QSA]